<!-- 
Name: Sai Kumar Reddy Chinthakunta
UCID: sc2587
Date of submission: 08-04-2023
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles_home.css' %}">
  </head>

  <body>

    <header>
        <h1>My personal portfolio</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/about">About me</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
  </body>

  <footer>
        <p>&copy; 2023 My portfolio. All rights reserved.</p>
      {% load static %}
      <script src="{% static 'main.js' %}"></script>
  </footer>
</html>
