<!-- 
Name: Akshitha Thumma
UCID: at892
Date of submission: 08-04-2023
-->


{% extends "base.html" %} {% block content %}
<center>
  <h1>Portfolio</h1>
  {% if projects %}
    {% for project in projects %}
    <div class="card text-center" style="width:1000px; margin-top:30px">
      <div class="card-header">
        {{ project.title }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">{{ project.description }}</p>
        <a href="#" class="btn btn-primary">Github</a>
      </div>
      <div class="card-footer text-muted">
        {{ project.year }}
      </div>
    </div>
    {% endfor %}
  {% else %}
  <p>No projects found.</p>
  {% endif %}
</center>
<div style="margin-bottom:90px"></div>
{% endblock %}